SECRET_KEY = 'put_a_key_here'
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://root:root_password@127.0.0.1:3306/database_name'

MYSQL_USER = 'user'
MYSQL_PASSWORD = 'password'
MYSQL_DATABASE = 'database_name'
MYSQL_ROOT_PASSWORD = 'root_password'