SECRET_KEY = '90e1b4c497ed6517615c54b88fd66359d36b91a750d82b2a69bd7f15ad783691'
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://root:root_password@127.0.0.1:3306/database_name'

MYSQL_USER = 'user'
MYSQL_PASSWORD = 'password'
MYSQL_DATABASE = 'database_name'
MYSQL_ROOT_PASSWORD = 'root_password'